@{
    var homeUrl = Href("~/");

    var logoSrc = Session["Logo"] != null ? 
        Session["Logo"].ToString() :  
        "~/themes/bizstrap.1.3/content/img/vassall-logo.png";

}

<a class="logo-link" href="@homeUrl">
    <img alt="logo" title="bizstrap" src="@Url.Content(logoSrc)">
</a>
