{% assign logoSrc = "~/themes/Dotnest-BizStrap.1.3/content/img/vassall-logo.png" %}

<a class="logo-link" href="{% Href "~/" %}">
    <img alt="logo" title="bizstrap" src="{% Href logoSrc %}">
</a>