{% assign logoSrc = "//dotneststatic.com/media/vcconferences/_Profiles/1338a03e/bfc1c3db/vassall-logo.png" %}

<a class="logo-link" href="{% Href "~/" %}">
    <img alt="logo" title="bizstrap" src="{% Href logoSrc %}">
</a>