<div id="branding-container">
  <div id="branding-wod-logo-container">
    <div id="branding-wod-logo"></div>
  </div>
  <div id="branding-text-container">
    <h1 id="branding-text">
      <a href="/">Elemental Gankery</a>
    </h1>
  </div>
  <div id="branding-alliance-logo-container">
    <div id="branding-alliance-logo"></div>
  </div>
</div>