@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }
}
<article class="page content-item">
    <header>
        <h1>Web site accessibility </h1>
    </header>
    <p>The Vassall Centre web site offers a number helpful feature to improve the accessibility of the web site:</p>
    
     <p>
        <strong>
            High Contrast
        </strong>
    </p>
    <p> We currently provide a number of different contrast options, 
        that can be selected to change the colours of background and foreground text on the site, the current options are as follows</p>
    <p>
        @Display.HighContrast()
    </p>

    @Html.Raw(Model.ContentItem.BodyPart.Text)
   
</article>