@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Fields
@{
    var items =  Model.ContentItems;
    var i = 0;
}

@foreach (var item in items) {
  
    var from = ((DateTime) item.HistorySpan.FromDate.DateTime).Year;
    var to = ((DateTime) item.HistorySpan.ToDate.DateTime).Year;
    var title = item.HistorySpan.TitlePart.Title;
    var body = item.BodyPart.Text;
    
    
   
    <h1>
        @title
        <small>
             @from - @to                                  
        </small>
    </h1>    
    
   
      
        <div class="row-fluid">
            <div class="span12">
                @Html.Raw(body)
            </div>
        </div>

    if (i%2 == 0) {
        <div class="text-divider7 even">
            <span></span>
        </div>    
    }
    else {
        <div class="text-divider7">
            <span></span>
        </div>
    }
    

    i++;

}