@{
    var accesskey = "a"; //Model.Content.ContentItem.ContentMenuItem.AccessKey.Value;
    var value = new HtmlString(Model.Text.Replace(accesskey, string.Format("<span class=\"underline\">{0}<span>", accesskey)));               
}

<a href="@Model.Href" accesskey="c" >pigs</a>
