@using Orchard.MediaLibrary.Fields
@using Orchard.MediaPicker.Fields
@{
    var items =  Model.ContentItems;

    //var contentItems = (IList<dynamic>)Enumerable.Cast<dynamic>(Model.Content.Items);
    //var projectionList = contentItems.First(x => x.Metadata.Type == "List");
    //IList<dynamic> items = projectionList.Items;
    
    
    
}

<div class="row-fluid">
    <ul class="thumbnails">
        @foreach (var item in items) {
            var bodyHtmlString = (string)item.BodyPart.Text;
            var bodyTeaser = new HtmlString(Html.Excerpt(bodyHtmlString, 200).ToString()
                .Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>"));

            var imageField = (MediaLibraryPickerField)item.Room.Image;
            var mediaParts = imageField.MediaParts;
            var image = mediaParts.FirstOrDefault();

            var size = item.Room.Size.Value;
            
            <li class="span4">
                <div class="thumbnail">
                    
                    @if (image != null) {
                        <img alt="@image.AlternateText" src="@Display.ResizeMediaUrl(Path: image.MediaUrl, Width: 300, Height: 200)" width="300" height="200" />
                    }
                    else {
                        <div class="image-place-holder">
                            
                        </div>
                    }
                    

                    <div class="caption">
                        <h3>
                            @item.TitlePart.Title
                            <small>
                                ( @size )
                            </small>
                        </h3>
                        <div class="teaser">
                            <p>
                            @bodyTeaser
                            </p>
                        </div>
                        
                        <a href="mailto:vassall@vcconferences.co.uk?subject=@item.TitlePart.Title" class="btn btn-primary">Book Now</a> 
                        
                  </div>                  
                </div>
            </li>    
        }
    </ul>
</div>



