@using System.Globalization

{% assing mediaFields = Model.ContentItem.ImageCarouselPart.Images %}

<div class="bannercontainer" >
    <div class="banner" >
        <ul>
             
            {% for i in (0..images.Count()) %}
                {% assign className = "slider" + i %};
				{% if i == 0 %} 
					{% assign transition = "slotfade-horizontal" %}
				{% else %}
					{% assign transition = "slideleft" %}
				{% endif %}
                <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) - SLIDE 1 [SLIDE STYLE=BOXFADE] -->
                <li class="{{ className }} slide" data-transition="{{ transition }}" data-slotamount="10"  data-masterspeed="300">
                    
                    {% if (images[i].MimeType.StartsWith("image/")) %}
                        <img alt="{{ images[i].AlternateText}} " src="{{ images[i].MediaUrl }}" />
                    {% endif %}
                    
                 </li>
            {% endfor %}
        </ul>
    </div>
</div>
