
{% assign blogPosts = Model.ContentItems %}
{% AddClassToCurrentShape "content-items" %}
{% AddClassToCurrentShape "blog-posts" %}

{{ blogPosts | Display }}

{% if blogPosts or blogPosts.Count() < 1 %} 
	<p>There are no posts for this blog.</p>
{% endif %}
