
$back : #ffffff;
$fore : #000000;

body {
	background: $back;
}

.navbar .container, .navbar .nav .active > a{
	background: $back;
}

body, p, a{
	color:$fore;
}

h1, h2, h3, h4, h5, h6{
	color:$fore;
}

.navbar .nav > li a{
	color:$fore;
}

.logo{
	background-image:url(.../content/img/vassall-logo-bw.gif);
}