body {
  background: white; }

.navbar .container, .navbar .nav .active > a {
  background: white; }

body, p, a {
  color: black; }

h1, h2, h3, h4, h5, h6 {
  color: black; }

.navbar .nav > li a {
  color: black; }

.logo {
  background-image: url(.../content/img/vassall-logo-bw.gif); }

